# --- Compiled Binaries ---
# Ignore the final executable we built
frnn_standalone
run_test
my_program
*.o
*.out
*.so
*.a

# --- Python & Build Artifacts ---
# If you ever run python scripts, ignore these
__pycache__/
*.pyc
build/
dist/
*.egg-info/

# --- IDE & System Files ---
# Ignore VS Code settings and Mac/Linux system junk
.vscode/
.DS_Store
*.swp
.idea/

# --- Data & Logs ---
# Ignore large point cloud files or slurm output logs
*.log
*.pts
*.ply
*.pcd
slurm-*.out
tests/output/
flash_lib_knn/
graphify-out/
new_xju2_frnn/libFRNN/
